/* Write your global styles here, in PostCSS syntax */
@import "material-symbols";
@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind components;
@tailwind utilities;
